Repository akreit/only-paws: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ignore gh actions yamls
  .prettierignore
Due: none

run on every push
  .github/workflows/ci.yml
Due: prettier --write

bump gh actions
  .github/workflows/ci.yml
Due: prettier --write

fix vue tags
  .lintstagedrc.json
  eslint.config.mjs
  src/app/components/layout/AppHeader.vue
  src/app/components/location/PhotoGallery.vue
Due: eslint --fix, prettier --write

fix claude gh actions workflow
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier --write

bump gh actions version of vercel deploy action
  .github/workflows/ci.yml
Due: prettier --write

only run e2e when ready to review
  .github/workflows/e2e.yml
Due: prettier --write

feat: enable Google Maps Places search on map page
  src/app/composables/useMap.ts
  src/app/pages/map.vue
  tests/e2e/map.spec.ts
Due: eslint --fix, prettier --write

fine-tune harness
  .claude/agents/ci-watcher.md
  .claude/settings.local.json
  .devcontainer/sandcat/scripts/mitmproxy_addon_common.py
  .gitignore
  .sandcat/settings.json
  AGENTS.md
  README.md
Due: prettier --write

notify if places init fails
  src/app/pages/map.vue
Due: eslint --fix, prettier --write

Potential fix for pull request finding
  src/app/composables/useMap.ts
Due: eslint --fix, prettier --write

Fix broken syntax in bindPlaceAutocomplete
  src/app/composables/useMap.ts
Due: eslint --fix, prettier --write

fix: restore missing optional peer-dep entries in package-lock.json
  package-lock.json
Due: prettier --write

test: add coverage for loadGoogleMaps, initializeMap, createMarker, geocode, and getPlaceDetails
  tests/unit/composables/useMap-core.spec.ts
  tests/unit/composables/useMap.spec.ts
Due: eslint --fix, prettier --write

ci: make GitHub Actions the sole Vercel deployer
  .claude/agents/ci-watcher.md
  .github/workflows/ci.yml
  vercel.json
Due: prettier --write

fix: reference VERCEL_ORG_ID/VERCEL_PROJECT_ID as repo variables, not secrets
  .github/workflows/ci.yml
Due: prettier --write

infra: adopt Vercel Neon Marketplace database and env vars into Terraform
  .gitignore
  .sandcat/settings.json
  README.md
  infra/main.tf
  infra/outputs.tf
  infra/providers.tf
  infra/terraform.tfvars.example
  infra/variables.tf
  package.json
Due: prettier --write

fix: update ci-watcher agent for the split deploy-production/deploy-preview jobs
  .claude/agents/ci-watcher.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{json,md,yml,yaml})
