Repository akreit/only-paws: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix test configuration and add missing unit tests
  tests/unit/utils/formatters.spec.ts
  tests/unit/utils/helpers.spec.ts
  tests/unit/utils/validation.spec.ts
  vitest.config.ts
Due: eslint --fix

Update package-lock.json after npm install
  package-lock.json
Due: prettier --write

Fix E2E tests and add Node.js version requirement
  .node-version
  tests/e2e/landing.spec.ts
  tests/e2e/map.spec.ts
  tests/e2e/navigation.spec.ts
Due: eslint --fix

Update CI pipeline to use Node.js 22
  .github/workflows/ci.yml
Due: prettier --write

Fix TypeScript type errors
  src/app/components/location/ReviewCard.vue
  tests/fixtures/factories.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Upgrade to Prisma v7 with driver adapters and add server-side unit tests
  nuxt.config.ts
  package-lock.json
  package.json
  prisma.config.ts
  prisma/seed.ts
  scripts/dev-setup.sh
  src/server/api/comments/[id].delete.ts
  src/server/api/comments/index.post.ts
  src/server/api/favorites/[locationId].delete.ts
  src/server/api/favorites/index.get.ts
  src/server/api/favorites/index.post.ts
  src/server/api/locations/[id].delete.ts
  src/server/api/locations/[id].get.ts
  src/server/api/locations/index.get.ts
  src/server/api/locations/index.post.ts
  src/server/api/photos/[id].delete.ts
  src/server/api/reviews/[id].delete.ts
  src/server/api/reviews/index.post.ts
  src/server/api/users/profile.get.ts
  src/server/api/users/sync.post.ts
  src/server/utils/prisma.ts
  tests/helpers/server.ts
  tests/unit/server/api/locations/[id].delete.spec.ts
  tests/unit/server/api/locations/[id].get.spec.ts
  tests/unit/server/api/locations/index.get.spec.ts
  tests/unit/server/api/locations/index.post.spec.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fixing ci pipeline
  .lintstagedrc.json
  src/server/utils/prisma.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix linting
  src/app/components/layout/AppHeader.vue
  src/app/components/location/AddLocationForm.vue
  src/app/components/location/LocationCard.vue
  src/app/components/location/PhotoGallery.vue
  src/app/components/location/ReviewCard.vue
  src/app/components/ui/Input.vue
  src/app/pages/profile.vue
Due: eslint --fix

add playwright output
  playwright.config.ts
Due: eslint --fix

add clerk secrets as gh secrets
  .github/workflows/ci.yml
Due: prettier --write

fix ci env vars
  .github/workflows/ci.yml
Due: prettier --write

make test db available in ci pipeline
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: prettier --write

bump node version
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: prettier --write

Fix CI: update Node.js version, add explicit Prisma generate step, remove duplicate e2e job
  .github/workflows/e2e.yml
Due: prettier --write

add add conf key
  .github/workflows/ci.yml
Due: prettier --write

chore: CI and infra housekeeping
  .github/workflows/e2e.yml
  .gitignore
  Dockerfile.dev
Due: prettier --write

fix(#10): make seed idempotent to prevent duplicate locations
  prisma/seed.ts
Due: eslint --fix

fix(#9): fix Add Location modal not opening
  src/app/components/ui/Modal.vue
Due: eslint --fix

fix: fix Google Maps container height and reactive center bug
  src/app/composables/useMap.ts
  src/app/pages/map.vue
Due: eslint --fix

fix smaller bugs in UI rendering & add additional env vars
  CLAUDE.md
  docker-compose.yml
  infra/main.tf
  infra/outputs.tf
  infra/providers.tf
  infra/terraform.tfvars.example
  infra/variables.tf
Due: prettier --write

chore: remove configurable default map location
  .env.example
  docker-compose.yml
  nuxt.config.ts
  src/app/stores/map.ts
Due: eslint --fix, prettier --write

feat(#11): center map on user's geolocation on load
  prisma/seed.ts
  src/app/composables/useMap.ts
  src/app/pages/map.vue
Due: eslint --fix

fix(tests): update map container selector to match current CSS classes
  tests/e2e/map.spec.ts
Due: eslint --fix

fix(types): cast window to typed object for gm_authFailure assignment
  src/app/composables/useMap.ts
Due: eslint --fix

chore(docs): consolidate verbose docs and design files into single design.md
  design/app-layout.md
  design/design.md
  design/tech-stack.md
  docs/CHECKLIST.md
  docs/COMPLETE_SUMMARY.md
  docs/IMPLEMENTATION.md
  docs/QUICKSTART.md
  docs/START_HERE.md
  docs/TESTING_COMPLETE.md
Due: prettier --write

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: prettier --write

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: prettier --write

Add Google Maps quick-add location flow
  prisma/schema.prisma
  src/app.vue
  src/app/components/location/AddLocationForm.vue
  src/app/components/location/MapPlacePreviewCard.vue
  src/app/components/ui/Select.vue
  src/app/composables/useMap.ts
  src/app/pages/map.vue
  src/app/stores/locations.ts
  src/app/types/location.ts
  src/app/utils/google-place.ts
  src/server/api/locations/index.post.ts
  src/server/utils/auth.ts
  tests/unit/components/AddLocationForm.spec.ts
  tests/unit/server/api/locations/index.post.spec.ts
  tests/unit/server/utils/auth.spec.ts
  tests/unit/utils/google-place.spec.ts
Due: eslint --fix

consolidating agent instructions
  AGENTS.md
  CLAUDE.md
Due: prettier --write

apply eslint
  .lintstagedrc.json
Due: prettier --write

Fix lint-staged git add warning
  .lintstagedrc.json
  package.json
Due: prettier --write

fix linting
  .husky/pre-commit
Due: none

add sandcat devcontainer setup
  .devcontainer/Dockerfile.app
  .devcontainer/compose-all.yml
  .devcontainer/devcontainer.json
  .devcontainer/sandcat/Dockerfile.wg-client
  .devcontainer/sandcat/compose-proxy.yml
  .devcontainer/sandcat/scripts/app-init.sh
  .devcontainer/sandcat/scripts/app-post-start.sh
  .devcontainer/sandcat/scripts/app-user-init.sh
  .devcontainer/sandcat/scripts/dnsmasq-ready
  .devcontainer/sandcat/scripts/mitmproxy_addon_claude.py
  .devcontainer/sandcat/scripts/mitmproxy_addon_common.py
  .devcontainer/sandcat/scripts/mitmproxy_addon_cursor.py
  .devcontainer/sandcat/scripts/wg-client-init.sh
  .devcontainer/sandcat/tmux.conf
  .prettierignore
  .sandcat/settings.json
Due: prettier --write

fix: resolve build checks and coverage
  .gitignore
  AGENTS.md
  nuxt.config.ts
  package.json
  src/app/pages/map.vue
  tests/unit/components/AddLocationForm.spec.ts
  tests/unit/components/Select.spec.ts
  tests/unit/server/utils/auth.spec.ts
Due: eslint --fix, prettier --write

address additional lint errors
  eslint.config.mjs
Due: none

fix: install playwright browsers in e2e ci
  .github/workflows/e2e.yml
Due: prettier --write

bump actions versions
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: prettier --write

chore: consolidate claude github workflows
  .github/workflows/claude.yml
Due: prettier --write

add consolidated claude gh actions file
  .github/workflows/claude.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: any of: *.{json,md,yml,yaml}
